table.table1{  border-collapse:collapse;padding:15px; width:100%; height: 100%; background-color : #EFF3FB;font-family : Arial, Verdana, Helvetica, sans-serif; }
body{font-family:Arial,Helvetica,sans-serif;margin:0;color:#000;}
ul{margin:5px;padding-left:20px; }
.BodyContent{position:relative;left:0;top:0;width:100%;margin:0 auto 0 auto; }
.Border{position:relative;z-index:1;overflow:hidden;padding:21px 21px 21px 21px;color:#000;font-size:13px;}
.Border a{color:#000E66;text-decoration:underline;}
.Border a:visited{color:#000E66;text-decoration:underline;}
.Border a:hover{color:#000;text-decoration:none;}
.BorderBorder{z-index:0;position:relative;margin:0; }
.BorderTL,.BorderTR,.BorderBL,.BorderBR,.BorderL,.BorderT,.BorderR,.BorderB,.BorderC{position:absolute;z-index:-1;overflow:hidden;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR{width:35px;height:35px;}
.BorderTL{top:0;left:0;background-image:url('images/BorderCorners.png');}
.BorderTR div,.BorderBL div,.BorderBR div{height:70px;width:70px;position:absolute;z-index:-1;background-image:url('images/BorderCorners.png');}
.BorderTR div{left:-35px;}
.BorderBL div{top:-35px;}
.BorderBR div{left:-35px;top:-35px;}
.BorderTR{top:0;right:0;}
.BorderBL{bottom:0;left:0;}
.BorderBR{bottom:0;right:0;}
.BorderT,.BorderB{left:35px;right:35px;height:35px;}
.BorderT{top:0;background-image:url('images/BorderHorizontal.png');}
.BorderB{bottom:0;}
.BorderB div{position:absolute;z-index:-1;top:-35px;height:70px;width:100%;background-image:url('images/BorderHorizontal.png');}
.BorderL,.BorderR{top:35px;bottom:35px;width:35px;}
.BorderL{left:0;background-image:url('images/BorderVertical.png');}
.BorderR{right:0;}
.BorderR div{position:absolute;z-index:-1;left:-35px;width:70px;height:100%;background-image:url('images/BorderVertical.png');}
.BorderC{left:35px;top:35px;right:1205px;
bottom:144px;
background-image:url('images/BorderCenter.png');
}
.BorderBorder{width:100%;margin:10px auto;}
.Header{position:relative;background-image:url('images/Header.png');width:auto; background-repeat:no-repeat;padding:0;height:75px;color:#FFF;width:1200px;
    top: 1px;
    left: 0px;
}
.HeaderTitle{height:75px;width:1179px;
display:table-cell;vertical-align:Bottom;color:#FFF;font-size:18px;text-decoration:none;font-style:normal;font-weight:bold;
}
.HeaderTitle h1 a,.HeaderTitle h1 a:link,.HeaderTitle h1 a:visited,.HeaderTitle h1 a:hover{text-decoration:none;color:inherit;}
.HeaderTitle h1{margin:0;padding:0 8px;color:#FFF;font-size:26px;text-decoration:none;font-style:normal;font-weight:bold;}
.HeaderTitle h2{margin:0;padding:0 8px;font-size:inherit;font-weight:inherit;}
.Menu{background:transparent url('images/MenuBar.png') no-repeat;padding:0 5px 0 5px;margin:0;text-align:Center;}
.Menu ul{list-style-type:none;padding:0;margin:0;color:#FFF;}
.Menu li{display:inline;padding:0;margin:0;}
.MenuButton,.MenuButtonInput{border:0;margin:0;background:transparent url('images/MenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:33px;padding:0 0 0 18px;display:inline-block;color:#FFF;font-size:13px;vertical-align:middle;}
.MenuButton span,.MenuButtonInput span{border:0;margin:0;background:transparent url('images/MenuButton.png') no-repeat right top;display:block;position:relative;color:#FFF;line-height:13px;}
.MenuButton span{padding:10px 18px 10px 0;}
.MenuButtonInput span{padding:0 18px 0 0;height:33px;}
.MenuButtonInput input{color:#FFF;border-style: none;
    border-color: inherit;
    border-width: 0;
    font-size:13px;color:inherit;height:33px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;
}
.MenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.MenuButton,.MenuButton:link,.MenuButton:visited,.MenuButton:hover,.MenuButton:active{text-decoration:none!important;outline:none;}
.MenuButton:hover,.MenuButtonInput:hover{background-position:left center;}
.MenuButton:hover span,.MenuButtonInput:hover span{background-position:right center;color:#000;}
.MenuButton:active,.MenuButtonInput:active{background-position:left bottom;}
.MenuButton:active span,.MenuButtonInput:active span{background-position:right bottom;color:#000;}
.ActiveMenuButton,.ActiveMenuButtonInput{border:0;margin:0;background:transparent url('images/ActiveMenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:33px;padding:0 0 0 18px;display:inline-block;color:#FFF;font-size:13px;vertical-align:middle;zoom:1;}
.ActiveMenuButton span,.ActiveMenuButtonInput span{border:0;margin:0;background:transparent url('images/ActiveMenuButton.png') no-repeat right top;display:block;position:relative;color:#FFF;line-height:13px;}
.ActiveMenuButton span{padding:10px 18px 10px 0;}
.ActiveMenuButtonInput span{padding:0 18px 0 0;height:33px;}
.ActiveMenuButtonInput input{color:#FFF;border-style: none;
    border-color: inherit;
    border-width: 0;
    font-size:13px;color:inherit;height:33px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:;
*left:-18px;
}
.ActiveMenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.ActiveMenuButton,.ActiveMenuButton:link,.ActiveMenuButton:visited,.ActiveMenuButton:hover,.ActiveMenuButton:active{text-decoration:none!important;outline:none;}
.ActiveMenuButton:hover,.ActiveMenuButtonInput:hover{background-position:left center;}
.ActiveMenuButton:hover span,.ActiveMenuButtonInput:hover span{background-position:right center;color:#000;}
.ActiveMenuButton:active,.ActiveMenuButtonInput:active{background-position:left bottom;}
.ActiveMenuButton:active span,.ActiveMenuButtonInput:active span{background-position:right bottom;color:#000;}
.Columns{overflow:hidden;}
.Column1{overflow:hidden;float:left;width:20%;}
.Column2{overflow:hidden;float:right;width:20%;}
.MainColumn{overflow:hidden;}
img{border:0;}
h2{margin:0;}
blockquote{width:100%;color:#000;border:solid 1px #023C64;background:#FFF;margin:0 auto;padding:15px;-webkit-border-radius:5px;-moz-border-radius:5px;}
blockquote a,blockquote a:link{color:#000E66!important;text-decoration:underline;}
blockquote a:visited{color:#000E66!important;text-decoration:underline;}
blockquote a:hover{color:#000!important;text-decoration:none;}
.Article{position:relative;z-index:1;overflow:hidden;padding:10px 10px 10px 10px;color:#000;font-size:13px;margin:0;}
.Article a{color:#000E66;text-decoration:underline;}
.Article a:visited{color:#000E66;text-decoration:underline;}
.Article a:hover{color:#000;text-decoration:none;}
.Article h2{color:#000;font-size:22px;text-decoration:none;font-style:normal;font-weight:bold;}
.Article h2 a,.Article h2 a:visited{color:#000;text-decoration:none;}
.Article h2 a:hover{text-decoration:underline;}
.Block{position:relative;z-index:1;overflow:hidden; padding:6px 6px 6px 6px;color:#000;font-size:13px;}
.Block a{color:#000A4C;text-decoration:underline;}
.Block a:visited{color:#000A4C;text-decoration:underline;}
.Block a:hover{color:#000;text-decoration:none;}
.BlockBorder{z-index:0;position:relative;margin:5px;}
.BlockTL,.BlockTR,.BlockBL,.BlockBR,.BlockL,.BlockT,.BlockR,.BlockB,.BlockC{position:absolute;z-index:-1;overflow:hidden;}
.BlockTL,.BlockTR,.BlockBL,.BlockBR{width:10px;height:10px;}
.BlockTL{top:0;left:0;background-image:url('images/BlockCorners.png');}
.BlockTR div,.BlockBL div,.BlockBR div{height:20px;width:20px;position:absolute;z-index:-1;background-image:url('images/BlockCorners.png');}
.BlockTR div{left:-10px;}
.BlockBL div{top:-10px;}
.BlockBR div{left:-10px;top:-10px;}
.BlockTR{top:0;right:0;}
.BlockBL{bottom:0;left:0;}
.BlockBR{bottom:0;right:0;}
.BlockT,.BlockB{left:10px;right:10px;height:10px;}
.BlockT{top:0;background-image:url('images/BlockHorizontal.png');}
.BlockB{bottom:0;}
.BlockB div{position:absolute;z-index:-1;top:-10px;height:20px;width:100%;background-image:url('images/BlockHorizontal.png');}
.BlockL,.BlockR{top:10px;bottom:10px;width:10px;}
.BlockL{left:0;background-image:url('images/BlockVertical.png');}
.BlockR{right:0;}
.BlockR div{position:absolute;z-index:-1;left:-10px;width:20px;height:100%;background-image:url('images/BlockVertical.png');}
.BlockC{left:10px;top:10px;right:10px;bottom:10px;background-image:url('images/BlockCenter.png');}
.BlockHeader{border:0;margin:0;background:transparent url('images/BlockHeaderAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:23px;padding:0 0 0 18px;display:block;color:#000;font-size:13px;font-weight:bold;vertical-align:middle;zoom:1;}
.BlockHeader span{border:0;margin:0;background:transparent url('images/BlockHeader.png') no-repeat right top;display:block;position:relative;color:#000;line-height:13px;}
.BlockHeader span{padding:5px 18px 5px 0;}
.BlockHeader{margin:0 0 1px 0;}
.BlockContentBorder{position:relative;z-index:1;overflow:hidden;padding:6px 6px 6px 6px;color:#000;font-size:13px; }
.BlockContentBorder a{color:#000E66;text-decoration:underline;}
.BlockContentBorder a:visited{color:#000E66;text-decoration:underline;}
.BlockContentBorder a:hover{color:#000;text-decoration:none;}
.BlockContentBorderBorder{z-index:0;position:relative;margin:0;}
.BlockContentBorderTL,.BlockContentBorderTR,.BlockContentBorderBL,.BlockContentBorderBR,.BlockContentBorderL,.BlockContentBorderT,.BlockContentBorderR,.BlockContentBorderB,.BlockContentBorderC{position:absolute;z-index:-1;overflow:hidden;}
.BlockContentBorderTL,.BlockContentBorderTR,.BlockContentBorderBL,.BlockContentBorderBR{width:8px;height:8px;}
.BlockContentBorderTL{top:0;left:0;background-image:url('images/BlockContentBorderCorners.png');}
.BlockContentBorderTR div,.BlockContentBorderBL div,.BlockContentBorderBR div{height:16px;width:16px;position:absolute;z-index:-1;background-image:url('images/BlockContentBorderCorners.png');}
.BlockContentBorderTR div{left:-8px;}
.BlockContentBorderBL div{top:-8px;}
.BlockContentBorderBR div{left:-8px;top:-8px;}
.BlockContentBorderTR{top:0;right:0;}
.BlockContentBorderBL{bottom:0;left:0;}
.BlockContentBorderBR{bottom:0;right:0;}
.BlockContentBorderT,.BlockContentBorderB{left:8px;right:8px;height:8px;}
.BlockContentBorderT{top:0;background-image:url('images/BlockContentBorderHorizontal.png');}
.BlockContentBorderB{bottom:0;}
.BlockContentBorderB div{position:absolute;z-index:-1;top:-8px;height:16px;width:100%;background-image:url('images/BlockContentBorderHorizontal.png');}
.BlockContentBorderL,.BlockContentBorderR{top:8px;bottom:8px;width:8px;}
.BlockContentBorderL{left:0;background-image:url('images/BlockContentBorderVertical.png');}
.BlockContentBorderR{right:0;}
.BlockContentBorderR div{position:absolute;z-index:-1;left:-8px;width:16px;height:100%;background-image:url('images/BlockContentBorderVertical.png');}
.BlockContentBorderC{left:8px;top:8px;right:8px;bottom:8px;background-image:url('images/BlockContentBorderCenter.png');}
.Button,.ButtonInput{border:0;margin:3px 0;background:transparent url('images/ButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.Button span,.ButtonInput span{border:0;margin:0;background:transparent url('images/Button.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.Button span{padding:5px 18px 5px 0;}
.ButtonInput span{padding:0 18px 0 0;height:25px;}
.ButtonInput input{color:#000;border-style: none;
    border-color: inherit;
    border-width: 0;
    font-size:13px;color:inherit;height:25px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:;
*left:-18px;
}
.ButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.Button,.Button:link,.Button:visited,.Button:hover,.Button:active{text-decoration:none!important;outline:none;}
.Button:hover,.ButtonInput:hover{background-position:left center;}
.Button:hover span,.ButtonInput:hover span{background-position:right center;color:#000;}
.Button:active,.ButtonInput:active{background-position:left bottom;}
.Button:active span,.ButtonInput:active span{background-position:right bottom;color:#000;}
.Footer{color:#E0FFFF;font-size:13px;font-weight:bold;text-align:Center; background-color:#3336C3; hidden;padding:5px 12px;}
.Footer a{color:#E0FFFF;text-decoration:underline;}
.Footer a:visited{color:#E0FFFF;text-decoration:underline;}
.Footer a:hover{color:#E0FFFF;text-decoration:none;}
.BackLink{text-align:center;display:block;display:block;font-size:11px;padding:0 0 12px;color:#000;}
.BackLink a{color:#000;}
